<div class='modal archive-answers-modal' id="answersModal" style="display:none">
  <div class='modal-content'>
    <div class="archive-modal-header">
      <h2 class="h2_modal" id="surveyAnswersTitle">Ответы на анкету</h2>
      <span class="modal-close" onclick="AdminArchives.closeAnswersModal()"><i class="fas fa-xmark"></i></span>
    </div>
    <div class="modal-body">
      <div id="answersContainer"></div>
    </div>
  </div>
</div>
