@model List<MainProject.Models.User>
@{
    ViewData["Title"] = "Архив пользователей";
}

@section PageStyles {
    <link rel="stylesheet" href="~/css/pages/users.css" asp-append-version="true" />
}

<div class="app-page users-page users-page--archive" id="default_content" data-page="users-archive">
    @await Html.PartialAsync(
        "~/Views/Shared/_PageIntro.cshtml",
        new MainProject.Models.PageIntroModel
        {
            Title = "Архив пользователей",
            Description = "Ниже представлена таблица с архивными пользователями."
        })

    <section class="app-page__section app-page__section--flush">
        @await Html.PartialAsync("Partials/_ArchiveUsersTable", Model)
    </section>
</div>
