@model List<main_project.Models.User>

<div class="content users-page" id="default_content" data-page="users" data-open-add="@((ViewBag.OpenAddUserModal ?? false).ToString().ToLower())">
    <div class="note users-page__note">
        <h2>Список пользователей</h2>
        <p>Ниже представлена таблица с существующими пользователями</p>
    </div>

    @await Html.PartialAsync("Partials/_UsersToolbar")
    @await Html.PartialAsync("Partials/_UsersTable", Model)
    @await Html.PartialAsync("Partials/_AddUserModal")
    @await Html.PartialAsync("Partials/_EditUserModal")
    @await Html.PartialAsync("Partials/_DeleteUserModal")
</div>
