<div id="deleteUserModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Удаление пользователя</h2>
            <span class="modal-close" onclick="closeUserModal('deleteUserModal')">&times;</span>
        </div>
        <div class="modal-body">
            <p>Вы действительно хотите удалить пользователя <span id="deleteUserName"></span>?</p>
            <input type="hidden" id="deleteUserId">
            @Html.AntiForgeryToken()
        </div>
        <div class="modal-footer">
            <button type="button" onclick="deleteUser()" class="modal_btn modal_btn-danger">Удалить</button>
            <button type="button" onclick="closeUserModal('deleteUserModal')" class="modal_btn modal_btn-secondary">Отмена</button>
        </div>
    </div>
</div>
