<div id="editUserModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="h2_modal">Редактирование пользователя</h2>
        </div>
        <span class="modal-close" onclick="closeUserModal('editUserModal')">&times;</span>
        <div class="modal-body">
            <input type="hidden" id="editUserId">
            <div class="form-group">
                <label>ФИО:</label>
                <input type="text" id="editFullName" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Логин:</label>
                <input type="text" id="editUsername" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Пароль:</label>
                <input type="password" id="editPassword" class="form-control" placeholder="Оставьте пустым, чтобы не изменять">
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="email" id="editEmail" class="form-control">
            </div>
            <div class="form-group">
                <label>Организация:</label>
                <select id="editOrganization" class="form-control" required>
                    @if (ViewBag.Organizations != null)
                    {
                        foreach (var org in ViewBag.Organizations)
                        {
                            <option value="@org.Id">@org.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Роль:</label>
                <select id="editRole" class="form-control">
                    <option value="user">Пользователь</option>
                    <option value="Админ">Администратор</option>
                </select>
            </div>
            <div class="form-group">
                <label>Дата начала:</label>
                <input type="date" id="editDateBegin" class="form-control">
            </div>
            <div class="form-group">
                <label>Дата окончания:</label>
                <input type="date" id="editDateEnd" class="form-control">
            </div>
            @Html.AntiForgeryToken()
        </div>
        <div class="modal-footer">
            <button type="button" onclick="updateUser()" class="modal_btn modal_btn-primary">Сохранить</button>
            <button type="button" onclick="closeUserModal('editUserModal')" class="modal_btn modal_btn-secondary">Отмена</button>
        </div>
    </div>
</div>
