<div class="users-toolbar">
    <button type="button" class="modal_btn modal_btn-primary" onclick="openAddUserModal()">Добавить пользователя</button>
    <p class="back-button users-toolbar__archive-link" id="check_archive_omsu" onclick="archive_list_users()">
        Посмотреть архив -&gt;
    </p>
</div>
