[ais_survey_backup]
host=db.example
port=5432
dbname=survey
user=backup

[ais_survey_restore_verify]
host=db.example
port=5432
dbname=survey_restore_verify
user=backup

[ais_survey_restore_verify_admin]
host=db.example
port=5432
dbname=postgres
user=backup
