@{
    ViewData["Title"] = "Добавление организации";
}

@await Html.PartialAsync("~/Views/Shared/_BaseStyles.cshtml")
<link rel="stylesheet" href="~/css/pages/omsu.css" asp-append-version="true" />

<div class="content omsu-form-page" id="default_content" data-page="omsu-add">
    <div class="note">
        <h2>Добавление новой организации</h2>
        <p>В форме ниже вы можете задать данные для новой организации</p>
    </div>

    @await Html.PartialAsync("~/Views/OMSU/Partials/_AddOmsuForm.cshtml")
</div>

<script src="~/js/pages/omsu.js" asp-append-version="true"></script>
