<div class="content omsu-page omsu-page--add" id="default_content" data-page="omsu-add">
    <div class="note omsu-page__note">
        <h2>Добавление новой организации</h2>
        <p>В форме ниже вы можете задать данные для новой организации</p>
    </div>

    @await Html.PartialAsync("Partials/_AddOmsuForm")
</div>
