@model IEnumerable<main_project.Models.OMSU>
@{
    var omsus = Model ?? (ViewBag.Omsus as IEnumerable<main_project.Models.OMSU>) ?? Enumerable.Empty<main_project.Models.OMSU>();
}

<div class="content omsu-page" id="default_content" data-page="omsu-list">
    <div class="note omsu-page__note">
        <h2>Список организаций</h2>
        <p>Ниже представлена таблица с существующими организациями</p>
    </div>

    @await Html.PartialAsync("Partials/_OmsuToolbar")
    @await Html.PartialAsync("Partials/_OmsuTable", omsus)
    @await Html.PartialAsync("Partials/_EditOmsuModal")
</div>
