<div id="editOrganizationModal" class="modal organization-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="h2_modal">Редактирование организации</h2>
        </div>
        <span class="modal-close" onclick="closeOrganizationModal('editOrganizationModal')"><i class="fas fa-xmark"></i></span>
        <div class="modal-body">
            <input type="hidden" id="editOrganizationId">
            <div class="form-group">
                <label>Название организации:</label>
                <input type="text" id="organizationName" class="form-control">
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="email" id="organizationEmail" class="form-control">
            </div>
            <div class="form-group">
                <label>Дата начала:</label>
                <input type="date" id="organizationDateBegin" class="form-control">
            </div>
            <div class="form-group">
                <label>Дата окончания:</label>
                <input type="date" id="organizationDateEnd" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
            <button id="saveOrganizationBtn" onclick="updateOrganization()" class="modal_btn modal_btn-primary">Сохранить</button>
            <button onclick="closeOrganizationModal('editOrganizationModal')" class="modal_btn modal_btn-secondary">Отмена</button>
        </div>
    </div>
</div>
