<div class="organization-toolbar">
    <button
        type="button"
        class="modal_btn modal_btn-primary"
        data-click-call="openAddOrganizationModal"
        data-fallback-url="/organizations/create">
        Добавить организацию
    </button>
</div>
