<div class="organization-toolbar">
    <button
        type="button"
        class="modal_btn modal_btn-primary"
        onclick="if (typeof window.openAddOrganizationModal === 'function') { window.openAddOrganizationModal(); } else { window.location.href = '/organizations/create'; }">
        Добавить организацию
    </button>
</div>
