@await Html.PartialAsync("~/Views/Shared/_BaseStyles.cshtml")
<style>option{color: black}</style>
<p>Файл DOCX с инструкцией для администраторов успешно скачан. Пожалуйста, проверьте загрузки.</p>
<br />
<br />
<br />
<select class="btn" onchange="handleSelectChange(this)">
    <option value="" disabled selected>Загрузить новую инструкцию</option>
    <option value="administrator">Для администратора</option>
    <option value="user">Для пользователя</option>
</select>
