<div class='modal archive-answers-modal u-hidden' id="answersModal">
  <div class='modal-content'>
    <div class="modal-header archive-modal-header">
      <h2 class="h2_modal" id="surveyAnswersTitle">Ответы на анкету</h2>
      <button type="button" class="modal-close" data-modal-close="answersModal"><i class="fas fa-xmark"></i></button>
    </div>
    <div class="modal-body">
      <div id="answersContainer"></div>
    </div>
  </div>
</div>

<template id="answers-loading-template">
  <div class="loading">Загрузка данных...</div>
</template>
