<div id="notification" class="notification-overlay">
    <div class="notification-content">
        <h3 id="notificationTitle" class="notification-title"></h3>
        <div id="notificationMessage" class="notification-message"></div>
        <button type="button" class="notification-close" data-click-call="hideNotification">Закрыть</button>
    </div>
</div>
