@model string
<div id="loadingOverlay" class="notification-overlay loading-overlay">
    <div class="u-text-center">
        <div class="spinner"></div>
        <div class="loading-text">@(string.IsNullOrWhiteSpace(Model) ? "Идет обработка данных..." : Model)</div>
    </div>
</div>
