@model IEnumerable<main_project.Models.OMSU>

<table id="data_table" class="omsu-table omsu-table--archive">
    <thead>
        <tr class='table_tr'>
            <th class="omsu-table__th--start">Название организации</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th class="omsu-table__th--end">Email</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || !Model.Any())
        {
            <tr>
                <td colspan="4" class="table-empty-cell">Результаты не найдены!</td>
            </tr>
        }
        else
        {
            foreach (var omsu in Model)
            {
                <tr>
                    <td>@omsu.name_omsu</td>
                    <td>@(omsu.date_begin?.ToString("dd.MM.yyyy") ?? "")</td>
                    <td>@(omsu.date_end?.ToString("dd.MM.yyyy") ?? "")</td>
                    <td>@omsu.email</td>
                </tr>
            }
        }
    </tbody>
</table>
