<div class="omsu-toolbar">
    <button
        type="button"
        class="modal_btn modal_btn-primary"
        onclick="if (typeof window.handleTabClick === 'function') { window.handleTabClick('add_omsu'); } else { window.location.href = '/organizations/create'; }">
        Добавить организацию
    </button>
    <p class="back-button omsu-toolbar__archive-link" id="check_archive_omsu" onclick="archive_list_omsus()">
        Посмотреть архив ->
    </p>
</div>
