<div id="addOrganizationModal" class="modal organization-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="h2_modal">Добавление организации</h2>
            <button type="button" class="modal-close" data-modal-close="addOrganizationModal"><i class="fas fa-xmark"></i></button>
        </div>
        <div class="modal-body">
            <form id="organizationForm">
                @Html.AntiForgeryToken()

                <div id="message" class="organization-form__message"></div>

                <div class="form-group">
                    <label for="Name">Название организации:</label>
                    <input type="text" class="form-control" id="Name" required>
                </div>

                <div class="form-group">
                    <label for="organization_email">Email:</label>
                    <input type="email" class="form-control" id="organization_email" required>
                </div>

                <div class="form-group">
                    <label for="DateBegin">Дата начала:</label>
                    <input type="date" class="form-control" id="DateBegin" required>
                </div>

                <div class="form-group">
                    <label for="DateEnd">Дата окончания:</label>
                    <input type="date" class="form-control" id="DateEnd" required>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal_btn modal_btn-primary" data-click-call="createOrganization">Сохранить</button>
            <button type="button" class="modal_btn modal_btn-secondary" data-modal-close="addOrganizationModal">Отмена</button>
        </div>
    </div>
</div>
